Ceci est un titre de niveau 1

     Les bases de Python¶

           Syntaxe de Base:
  Comment écrire un code propre et lisible en Python.
Commentaires

In [1]:
# Ceci est un commentaire
print("apprentissage")

apprentissage

In [2]:
print("sylvestre")

sylvestre

      Déclaration et Utilisation des Variables:
            Nommage: Les noms de variables doivent commencer par une lettre ou un underscore.
           Assignation de Valeurs: Utilisez le signe = pour assigner une valeur à une variable.
           Utilisation dans les Opérations: Les variables peuvent être utilisées dans des opérations mathématiques ou logiques.
    Création de plusieurs Variables simultanément

In [3]:
nom_joueur="franco"
print(nom_joueur)

franco

In [4]:
nom_cuisine="rachel"
print(nom_cuisine)

rachel

In [5]:
nombre_employe="2002"
print(nombre_employe)

2002

In [6]:
nombre_employe=2022
print(nombre_employe)

2022

In [7]:
x=10
y=20
print(x+y)

30

In [8]:
x=10
y=20
print(x-y)

-10

In [9]:
x=10
y=20
print(x*y)

200

In [10]:
taille_joeur=2.1
print(taille_joeur)

2.1

           Différents Types de Données¶

        Types Intégrés: Utilisez int, float, str, et list pour représenter différents types de données.
        Vérification de Type: La fonction type() permet de vérifier le type d'une variable.
        Opérations de Base: Effectuez des opérations comme l'addition de int, ou la concaténation de str.

In [11]:
type(nombre_employe)

int

In [12]:
type(nom_joueur)

str

In [13]:
type(taille_joeur)

float

In [14]:
booleen=False
print(booleen)

False

In [15]:
booleen=True
print(booleen)

True

In [16]:
type(booleen)

bool

                  Opérations Arithmétiques Simples:
    Opérations de Base: Addition +, soustraction -, multiplication *, et division /.
    Opérations Avancées: Division entière //, modulo %, et exponentiation **.
    Priorité: Python suit l'ordre opérationnel mathématique standard.

In [17]:
# addition
x=20
y=20
z=x+y
print(z)

40

In [18]:
type(z)

int

In [19]:
# Multiplication
z=x*y
print(z)

400

In [20]:
# division
z=x/y
print(z)

1.0

In [21]:
type(z)

float

In [22]:
# soustraction
z=x-y
print(z)

0

In [23]:
type(z)

int

In [24]:
# Récupérer la partie entière d'une division 
z=x//y
print(z)

1

In [25]:
# Récupérer le reste de la division  des chiffres
z=x%y
print(z)

0

In [26]:
# Puissance
z=x**y
z

104857600000000000000000000

    Opérations Logiques Simples:
    Opérateurs Logiques: and, or, not pour les opérations booléennes.
    Comparaisons: ==, !=, >, <, >=, <= pour comparer des valeurs.

Opérations logiques¶

In [27]:
# Opérations logiques
x=True
y=False
z=x and y
z

False

In [28]:
# Opération et
x=True
y=True
z=x and y
z

True

In [29]:
# Opération et 
z=x & y
z

True

In [30]:
# Opérateur ou 
z=x or y
z

True

In [31]:
# Opérateur ou 
z=x | y
z

True

         Opérations de comparaison

In [32]:
# Affecter la valeur 24 à la variable age
age=24
age

24

In [33]:
# tester si l'age est égal à 24 ans
age==24

True

In [34]:
# Tester si l'âge est inférieur à 24 ans
age<24

False

In [35]:
# Tester si l'âge est supérieur à 24 ans
age>24

False

In [36]:
# Tester si l'âge est supérieur ou egal à 24 ans
age>=24

True

In [37]:
# tester si l'age est différent de 24 ans
age !=24

False

In [38]:
# tester inférieur ou égale à 24 ans
age<=24

True

        Les Fonctions en Python

    Fonctions  lambda
    Fonctions avancées: Définiton et les valeurs par défaut

In [39]:
addition=lambda x,y:x+y

In [40]:
addition(50,10)

60

             Création fonction classique¶

In [41]:
def multiplication(a=3,b=4,c=5):
    
    """
     expliquer la fonction
     param
     retunr
    """
    

    
    resultat=a*b*c#commenter



    return resultat#commenter

In [42]:
multiplication(4,5)

100

In [43]:
test=multiplication(2,3,4)
test

24

         Exercices

     Exercice 1 : Fonction Lambda
Objectif : Écrire une fonction lambda qui multiplie deux nombres.

Instructions :
    Créez une fonction lambda qui accepte deux arguments et retourne leur produit.
    Testez cette fonction en lui passant différents couples de nombres et affichez les résultats.

In [44]:
multiplication=lambda x,y:x*y

In [45]:
multiplication(5,5)

25

    Exercice 2 : 
Fonction de Conversion de Température
Objectif : Écrire une fonction qui convertit la température de Celsius en Fahrenheit.

 Instructions :

Créez une fonction nommée celsius_en_fahrenheit qui prend un nombre (température en degrés Celsius) comme argument.
La fonction doit calculer et retourner la température en degrés Fahrenheit en utilisant la formule :

\text{Fahrenheit} = \left( \text{Celsius} \times \frac{9}{5} \right) + 32
   $$

3:Testez cette fonction en convertissant plusieurs températures de Celsius en Fahrenheit et affichez les résultats.

In [46]:
def celsius_to_fahrenheit(celsius):
    fahrenheit=(celsius*9/5)+32
    return fahrenheit
celsius_to_fahrenheit(2)

35.6